$imagePath: './../../assets/images';
$iconPath: './../../assets/icons';

//font color
$cor0: #fff;
$cor1: #333;
$cor2: #193F8F;
$cor3: #8A8A8A;
$cor4: #B3B7B7;
$cor5: #8691C1;
$cor6: #10FBE4;
$cor7: #d9d9d9;
$cor8: #1E9AFC;

// hover-color
$hc_0: #1EA9FC;

    //bg-color
$bg0: #000;
$bg1: #fff;
$bg2: #1A233B;
$bg3: #121B2C;
$bg4: rgba(20, 188, 208, 0.8);
$bg5: #10FBE4;
$bg6: rgba(50, 60, 84, 0.8);
$bg7: #1EA9FC;


$bc0: #1A233B;
$bc1: #10FBE4;
$bc2: #121B2C;
$bc3: #3E4453;
$bc4: #1E9AFC;

//border
$bb1: 1px solid #353e49;

//font-sizeposition
$fzs: 12px;
$fzn: 14px;
//中大
$fzsl: 16px;
$fzml: 18px;
$fzbl: 20px;
//特大
$fzsh: 22px;
$fzmh: 24px;
$fzbh: 26px;
//最大
$fzmb: 28px;

$fz34: 34px;
$fz36: 36px;
$fz38: 38px;

//border-color
$bcor0: #2A386D;

/**
  flex 布局公用
  $fx-dir：flex-direction
  $js-con：justify-content
  $ai-itm：align-items
*/
@mixin flex_layout($fx-dir: row, $js-con: flex-start, $ai-itm: flex-start) {
    display: flex;
    display: -webkit-flex;
    flex-direction: $fx-dir;
    justify-content: $js-con;
    align-items: $ai-itm;
}

/**
  定位公用
  $pos: static relative absolute fixed (定位方式)
  $r: left right (靠左靠右)
  $t: top bottom (靠上靠下)
  $x: x轴距离
  $y: y轴距离
  $z: z-index
*/
@mixin position($pos: relative, $r: left, $t: top, $x: auto, $y: auto, $z: auto) {
    position: $pos;
    @if $r == right {
        right: $x;
    } @else {
        left: $x;
    }
    @if $t == bottom {
        bottom: $y;
    } @else {
        top: $y;
    }
    z-index: $z;
}

/**
  居中定位
  $l: 0, 距离左边多少位置 垂直居中
  $r: 0, 距离右边多少位置 垂直居中
*/

@mixin position_center($pos: absolute, $method:center, $x: 0) {

    @if $method == top {
        @include position($pos, left, top, 50%, $x, 9);
        transform: translate3d(-50%, 0, 0);
        -webkit-transform: translate3d(-50%, 0, 0);
    } @else if $method == right {
        @include position($pos, right, top, $x, 50%, 9);
        transform: translate3d(0, -50%, 0);
        -webkit-transform: translate3d(0, -50%, 0);
    } @else if $method == bottom {
        @include position($pos, left, bottom, 50%, $x, 9);
        transform: translate3d(-50%, 0, 0);
        -webkit-transform: translate3d(-50%, 0, 0);
    } @else if $method == left {
        @include position($pos, left, top, $x, 50%, 9);
        transform: translate3d(0, -50%, 0);
        -webkit-transform: translate3d(0, -50%, 0);
    } @else {
        @include position($pos, left, top, 50%, 50%, 9);
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
    }
}

/**
  多行超出省略
  $n: 超出几行省略
*/
@mixin ell_n($n: 1) {
    @if $n == 1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: flex;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $n;
        overflow: hidden;
    }
}

/**
  统一滚动条的样式
  121938     42548e
*/
@mixin scrollbar_style($selector) {
    /*定义滚动条轨道 内阴影+圆角*/
    .#{$selector}::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: #42548e;
    }
    /*定义滚动条高度及背景*/
    .#{$selector}::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
        background-color: #42548e;
    }
    /*定义滑块 内阴影+圆角*/
    .#{$selector}::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #121938;
    }
}

/**
  border-radius
*/
@mixin bd_rds($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
}

/**
  box-sizing: border-box;
*/
@mixin box_sizing($type: content-box) {
    box-sizing: $type;
    -webkit-box-sizing: $type;
}

/**
  样式写箭头
*/
@mixin arrow($w: 6px, $pos: top, $color: #fff, $br: 2px) {
    border-width: $w;
    @if $pos == top {
        border-style: solid dashed dashed dashed;
        border-color: $color transparent transparent transparent;
    } @else if $pos == right {
        border-style: dashed solid dashed dashed;
        border-color: transparent $color transparent transparent;
    } @else if $pos == bottom {
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $color transparent;
    } @else if $pos == left {
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent $color;
    }
    border-radius: $br;
}

/**
  antd table 样式
*/
@mixin antd_table_common_style() {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #1C2438;
}

/**
  transition animate
*/
@mixin transition_animate($anima: left, $t: 1s, $path: linear) {
    transition: $anima $t $path;
    -webkit-transition: $anima $t $path;
}

@mixin cf() {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}