.manage-page {
  background-color: $bg2;
  @include flex_layout(column, flex-start, flex-start);

  .manage-content {
    width: 100%;
    flex: 1;
    @include flex_layout(row, flex-start, flex-start);

    .left-nav-content {
      height: 100%;
      @include position();

      .fold-btn {
        width: 12px;
        height: 80px;
        border-radius: 0 8px 8px 0;
        background-color: $bg2;
        cursor: pointer;
        overflow: hidden;
        @include position_center(absolute, right, -12px);

        .arrow-icon {
          color: $cor3;
          margin-right: 0;
          @include position_center();
        }
      }

      .nav-content {
        height: 100%;
        overflow-y: auto;
      }
    }

    .right-list-content {
      height: 100%;
      flex: 1;
      background-color: $bg3;
      @include position();

      .page-title-line {
        @include position(absolute, left, top, 0, 0, 1);
        width: 100%;
        height: 30px;

        &:hover {
          .titles-content {
            height: 46px;
          }
        }

        .titles-content {
          @include position();
          height: 0;
          overflow: hidden;
          transition: height 0.3s linear 0.2s;

          .titles-area {
            @include position(absolute, left, top, 0, 0, 1);
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
            padding: 10px 15px;

            .item-title {
              @include position();
              display: inline-block;
              vertical-align: top;
              padding: 5px 25px 5px 10px;
              line-height: 16px;
              font-size: 14px;
              border-radius: 3px;
              color: $cor3;
              background: $bg1;
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }

              &.active {
                color: $cor0;
                background-color: $cor8;
              }

              .close-x {
                display: block;
                width: 14px;
                height: 14px;
                line-height: 12px;
                text-align: center;
                font-size: 14px;
                @include position_center(absolute, right, 6px);
              }
            }
          }
        }
      }

      .list-content {
        width: 100%;
        height: 100%;
        padding: 30px;
        overflow-y: auto;
      }
    }
  }
}
